<%= form_with(model: guitar_study) do |form| %>
  <% if guitar_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guitar_study.errors.count, "error") %> prohibited this guitar_study from being saved:</h2>

      <ul>
        <% guitar_study.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :focus %>
      <%= form.select :formula, options_for_select(@formulas.collect {|formula| [formula.name, formula.id]}.insert(0, 'Select a Scale or Chord Formula'),1),{},{ id: 'formula_select' } %>
      <%= form.select :key, options_for_select([['Select a Key Signature', '0'],
                                             ['C', '1'],
                                             ['C#/Db', '2'],
                                             ['D', '3'],
                                             ['D#/Eb', '4'],
                                             ['E', '5'],
                                             ['F', '6'],
                                             ['F#/Gb', '7'],
                                             ['G', '8'],
                                             ['G#/Ab', '9'],
                                             ['A', '10'],
                                             ['A#/Bb', '11'],
                                             ['B', '12']], 0) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
